@import url("./colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: @background-darker;
    color: @foreground;
    border-radius: 0px;
}

#workspaces button {
    padding: 0 3px;
    background: @background;
    border-radius: 1px;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#workspaces button.active {
    background:@purple;
    border-radius: 3px;
}
#workspaces button.urgent {
    background: @red;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: @foreground;
    border-radius: 3px;
}

#clock {
    padding: 0 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical,
#battery.urgent {
  background-color: #F44336;
}

#battery.charging {
    background-color: #66BB6A;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
