* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background: #1d1f21;
    color: #ffffff;
}

#workspaces button {
    padding: 0 2px;
    border-radius: 2px;
    background: #1d1f21;
    color: #ffffff;
}

#workspaces button.focused {
    background: #333333;
    border-bottom: 2px solid #327bd1;
}

#workspaces button.active {
    background: #333333;
    border-bottom: 2px solid #327bd1;
}

#workspaces button.urgent {
    background: #F44336;;
}

#clock,
#battery,
#privacy,
#backlight,
#network,
#pulseaudio {
    padding: 0 10px;
    border-radius: 2px;
}

#clock {
    padding: 0 4px;
}

#tray {
    padding-left:10px;
}

#battery.critical,
#battery.urgent {
  background-color: #F44336;
}

#battery.charging {
    background-color: #66BB6A;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff5555;
    border-radius: 2px;
}

/* If tray is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tray {
    margin-right:2px;
}

#privacy {
    color: #ffb86c;
}
