window {
	font-family: JetBrains Mono;
	background-color: rgba(30, 30, 46, 0.5);
	color: #f8f8f2;
	font-size: 14pt;
}

button {
    color: #f8f8f2;
	background-color: rgba(30, 31, 41, 230);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border: none;
	margin: 5px;
}

button:focus, button:active {
	background-color: #bd93f9;
	outline-style: none;
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
