window {
	font-family: JetBrainsMono Nerd Font;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-size: 14pt;
}

button {
    color: #ffffff;
	background-color: #1d1f21;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border: none;
	margin: 5px;
}

button:focus, button:active {
	background-color: #333333;
	outline-style: none;
}

#logout {
    background-image: image(url("/home/user/.config/wlogout/icons/logout.png"), url("/home/user/.config/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/home/user/.config/wlogout/icons/shutdown.png"), url("/home/user/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/user/.config/wlogout/icons/reboot.png"), url("/home/user/.config/wlogout/icons/reboot.png"));
}
