[Desktop Entry]
Version=1.0
Name=Study
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=firefox -P Study --name Education -new-window %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/pixmaps/default128.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=new-window
StartupWMClass=Education

[Desktop Action new-window]
Name=Open a New Window
Exec=firefox -P Study --name Education -new-window
